@import "../stylesheets/Global.scss";

.about--wrapper {
  height: 100%;
}

.about--desc {
  flex-grow: 1;

  width: 100%;
  display: flex;
  flex-direction: column;

  &_summary {
    margin-top: $margin;
    width: 80%;
    display: flex;
    align-self: center;
    justify-items: center;
    font-size: 1.5em;
    font-weight: bold;
  }
  &_skills {
    margin-top: $margin;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-items: center;
    font-size: 1.2em;

    &_p {
      font-weight: bold;
    }
    &_ul {
      margin: $margin;
    }
  }
}
@media screen and (min-width: 760px) {
  .about--desc {
    &_summary {
      font-size: 2.5em;
    }
    &_skills {
      font-size: 2em;
    }
  }
}
.about--links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about--link_image {
  padding: $margin;
  width: 40px;
  &_d {
    padding: $margin;
    width: 40px;
    filter: invert(85%) sepia(12%) saturate(1%) hue-rotate(314deg)
      brightness(84%) contrast(87%);
  }
}
