/*COLORS*/
$pink: #cc6666;
$mustard: #ffb000;
$blue: #004fe7;
$blue-green: #00b3b3;
$red: #ff0013;
$pastelpink: #f1dada;
$grey: #b3b3b3;

/*FONTS*/
$font-roboto: "Roboto";
$font-poppins: "Poppins", sans-serif;
$font-alfa: "Alfa Slab One", cursive;
$font-sourcecode: "Source Code Pro", monospace;
$font-desc: "Abril Fatface", cursive;

/*FONT SIZE*/
$h1: 4rem;
$h2: 2rem;
$copy: 0.9rem;
$copy-small: 0.8rem;

/*MARGIN*/
$margin: 10px;
$margin-sm: 5px;
.dark_mode {
  background-color: black;
  color: $pastelpink;
}
.light_mode {
  background-color: $pastelpink;
  color: black;
}
.home--heading {
  font-family: $font-poppins;
  text-align: right;
  font-size: $h2;
  padding-top: 8%;
  padding-right: $margin;
}
@media screen and (min-width: 760px) {
  .home--heading {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 400px) {
  .home--heading {
    font-size: 2em;
  }
}
html {
  height: 100%;
}
#root {
  height: 100%;
}

body {
  font-family: $font-roboto;
  font-size: $copy;
  height: 100%;
}

.topline_d {
  border-top: solid 3px $pastelpink;
  width: 100%;
}
.a_dark {
  color: $pastelpink;
}
.a_light {
  color: black;
}

.bottomline_d {
  border-bottom: solid 3px $pastelpink;
}
.bottomline_thin_d {
  border-bottom: solid 0.4px $pastelpink;
}
.bottomline_thin_l {
  border-bottom: solid 0.4px black;
}
.topline_l {
  border-top: solid 3px black;
  width: 100%;
}

.bottomline_l {
  border-bottom: solid 3px black;
}

.home--animation_wrapper {
  background-color: $pastelpink;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  animation: crawldown forwards 1s ease-out;
  pointer-events: none;
}

@keyframes crawldown {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }
}
