/*COLORS*/
$pink: #cc6666;
$mustard: #ffb000;
$blue: #004fe7;
$blue-green: #00b3b3;
$red: #ff0013;

/*FONTS*/
$font-roboto: "Roboto";
$font-alfa: "Alfa Slab One", cursive;
$font-sourcecode: "Source Code Pro", monospace;
$font-desc: "Abril Fatface", cursive;

/*FONT SIZE*/
$h1: 4rem;
$h2: 2rem;
$copy: 0.9rem;
$copy-small: 0.8rem;

/*MARGIN*/
$margin: 10px;
$margin-sm: 5px;
.dark_mode {
  background-color: black;
  color: #b3b3b3;
}
.light_mode {
  background-color: #b3b3b3;
  color: black;
}
.home--heading {
  font-family: $font-alfa;
  text-align: right;
  font-size: $h2;
  padding-top: $margin;
  padding-right: $margin;
}
@media screen and (min-width: 760px) {
  .home--heading {
    font-size: 2.5em;
  }
}
#root {
  height: 100vh;
}

body {
  font-family: $font-roboto;
  font-size: $copy;
  height: 100%;
}

.topline_d {
  border-top: solid 3px #b3b3b3;

  width: 100%;
}

.bottomline_d {
  border-bottom: solid 3px #b3b3b3;
}
.topline_l {
  border-top: solid 3px black;

  width: 100%;
}

.bottomline_l {
  border-bottom: solid 3px black;
}
