@import "../stylesheets/Global.scss";

.home--wrapper {
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  height: 100%;
}
.home--latestprojects {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.home--title {
  display: flex;

  &_text {
    margin-left: $margin;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    font-weight: bold;
  }
}
@media screen and (min-width: 760px) {
  .home--title_text {
    font-size: 1.7em;
  }
}
.home--desc {
  -webkit-flex-grow: 1;
  flex-grow: 1;

  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: $margin;

  &_summary {
    width: 70%;
    margin-left: 15%;
    display: flex;
    -webkit-align-self: center;
    -webkit-justify-items: center;
    align-self: center;
    justify-items: center;
    font-size: 1.5em;
    font-weight: bold;
  }
}
//font size for my desc
@media only screen and (max-device-width: 350px) {
  .home--desc {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    &_summary {
      font-size: 1em;
    }
  }
}
.home--project_content {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media only screen and (min-device-width: 550px) and (max-device-height: 415px) {
  .home--desc {
    -webkit-flex-grow: 0;
    flex-grow: 0;

    &_summary {
      font-size: 1.5em;
      padding: $margin;
    }
  }
  .home--latestprojects {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .home--project_content {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}
@media screen and (min-width: 760px) {
  .home--desc {
    &_summary {
      font-size: 2.5em;
    }
  }
}
