@import "../stylesheets/Global.scss";
nav {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-direction: row;
  font-size: 0.8rem;
  width: 100%;

  a {
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
}
.nav--mode_icon {
  width: 20px;
  height: 20px;
  filter: invert(85%) sepia(12%) saturate(1%) hue-rotate(314deg) brightness(84%)
    contrast(87%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.nav--home {
  width: 20%;
  padding-bottom: $margin-sm;
  padding-left: $margin;
  display: flex;
  flex-direction: row;
}
.nav--mode {
  &_icon {
    -webkit-flex-grow: 1;
    flex-grow: 1;

    padding-top: 8px;
  }
  &_home {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding-top: $margin;
  }
}
.nav--items {
  width: 40%;
  padding-top: $margin;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media screen and (min-width: 760px) {
  .nav--home,
  .nav--items {
    font-size: 2em;
  }
  .nav--mode_icon {
    width: 25px;
    height: 25px;
    padding-top: $margin;
  }
}
@media screen and (min-width: 1000px) {
  .nav--items {
    width: 25%;
  }
  .nav--home {
    width: 10%;
  }
  .nav--mode_icon {
    width: 25px;
    height: 25px;
    padding-top: $margin;
  }
}
.nav--links {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
