@import "../stylesheets/Global.scss";
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 0.8rem;
  color: white;
  background-color: black;

  width: 100%;

  a {
    color: white;
    text-decoration: none;
  }
}
.nav--home {
  padding: $margin;
}
.nav--items {
  width: 40%;
  padding-top: $margin;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 760px) {
  .nav--home,
  .nav--items {
    font-size: 2em;
  }
}
@media screen and (min-width: 1000px) {
  .nav--items {
    width: 25%;
  }
}
.nav--links {
  flex-grow: 1;
}
