@import "../stylesheets/Global.scss";

.specs--heading {
  font-family: $font-poppins;
  text-align: right;
  font-size: $h2;
  padding-top: 8%;
  padding-right: $margin;
}
@media screen and (min-width: 760px) {
  .specs--heading {
    font-size: 3em;
  }
}
.specs--title {
  display: flex;

  &_text {
    margin-left: $margin;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    font-weight: bold;
  }
}
@media screen and (min-width: 760px) {
  .specs--title {
    font-size: 1.7em;
  }
}

.specs--wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.specs--details {
  font-family: $font-roboto;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.specs--details_border {
  height: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.specs--info {
  -webkit-flex-grow: 1;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  padding: 20px;
  font-size: 1.1em;
}

.specs--label {
  font-weight: bold;
}
.specs--date,
.specs--product,
.specs--client,
.specs--url,
.specs--usedTechnologies {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}
.specs--usedTechnologies_p {
  width: 60%;
}

.specs--summary {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  justify-content: center;

  &_p {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    font-size: 1.1em;
    line-height: 1.4;
    margin-left: 0px;
  }
}
@media screen and (min-width: 760px) {
  .specs--summary {
    font-size: 2em;
  }
}
.specs--btn {
  -webkit-align-self: center;
  align-self: center;
  font-family: $font-roboto;
  background-color: black;
  color: $pastelpink;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  cursor: pointer;
  &:hover {
    color: #000080;
  }
  &_d {
    -webkit-align-self: center;
    align-self: center;
    background-color: $pastelpink;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
  }
}
.specs--url_link {
  text-decoration: none;
  font-weight: bold;
  color: #000080;
  font-size: 1em;
  cursor: pointer;
}

.specs--back {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin;
  margin-right: $margin;
  -webkit-justify-content: right;
  -webkit-align-items: flex-end;
  justify-content: right;
  align-items: flex-end;
}
.specs--back_link {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  margin-bottom: $margin;
  cursor: pointer;
  &:hover {
    color: #000080;
  }
}
