@import "../stylesheets/Global.scss";

.specs--heading {
  font-family: $font-alfa;
  font-size: $h2;
  margin: $margin;
}
@media screen and (min-width: 760px) {
  .specs--heading {
    font-size: 3em;
  }
}
.specs--title {
  display: flex;

  &_text {
    margin-left: $margin;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    font-weight: bold;
  }
}

.specs--wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.specs--details {
  font-family: $font-roboto;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.specs--details_border {
  height: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.specs--info {
  color: black;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: $margin;
  font-size: 1.2em;
}
.specs--left,
.specs--right {
  display: flex;
  flex-direction: column;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.specs--label {
  font-weight: bold;
  font-family: $font-desc;
}
@media screen and (min-width: 760px) {
  .specs--left,
  .specs--right {
    font-size: 1.6em;
  }
}
.specs--summary {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  &_p {
    width: 90%;
    align-self: center;
  }
}
@media screen and (min-width: 760px) {
  .specs--summary {
    font-size: 2em;
  }
}
.specs--btn {
  align-self: center;
  font-family: $font-roboto;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  &:hover {
    color: #000080;
  }
}
.specs--url_link {
  text-decoration: none;
  font-weight: bold;
  color: #000080;
  font-size: 1em;
  cursor: pointer;
}
// @media screen and (min-width: 760px) {
//   .specs--url_link {
//     font-size: 1.5em;
//   }
// }
.specs--back {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin;
  margin-right: $margin;
  -webkit-justify-content: right;
  -webkit-align-items: flex-end;
  justify-content: right;
  align-items: flex-end;
}
.specs--back_link {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  margin-bottom: $margin;
  cursor: pointer;
  &:hover {
    color: #000080;
  }
}
